<% unless @object.nil? %>
<style type="text/css">
  #trans-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: black;
    display: none;
  }

  #trans-bar #top-bar {
    padding: 2px;
    border: 2px solid darkgrey;
    border-bottom: none;
    background-color: grey;
    color: black;    
    cursor: pointer;
  }

  #trans-bar #top-bar h2 {
    display: inline;
    font-size: 110%;
    font-family: Verdana, Arial, sans-serif;
  }

  #trans-bar #top-bar a, #trans-bar #top-bar a:visited, #trans-bar #top-bar a:hover {
    color: black;
  }

  #trans-bar #bar-content {
    padding: 4px;
    height: 150px;
    border: 2px solid darkgrey;
    overflow-y: scroll;
    display: none;
  }

  #trans-bar a {
    cursor: pointer;
  }
</style>

<script type="text/javascript">

jQuery(function() {

  // get the translatable fields (if any)
  var params =  {model_type: "<%= @object.type %>", model_id: "<%= @object.id %>"};
  var data = jQuery.getJSON("/admin/translations", params, function(data) {
    jQuery.each(data.fields, function (i, item) {
      jQuery("#trans-bar #bar-fields").append("<li><a>" + item + "</a></li>");
      jQuery("#trans-bar").show("slow");
    });
  });

  // add the bar as a body child
  jQuery("#trans-bar").remove().appendTo("body");

  // register events
  jQuery("#trans-bar #top-bar").toggle(maximizeBar, minimizeBar);
});

function minimizeBar() {
  jQuery("#trans-bar #bar-content").hide("fast");
}

function maximizeBar() {
  jQuery("#trans-bar #bar-content").show("fast");
}
</script>

<div id="trans-bar">
  <div id="top-bar">
    <h2>Fields Translation Toolbar</h2>
    <em>(Click to minimize / maximize)</em>
  </div>

    <div id="bar-content">
      <h3>Fields</h3>
      <ul id="bar-fields"></ul>
      <div class="">
        
      </div>
    </div>
</div>
<% end %>
