<style type="text/css">
  #trans-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: yellow;
}

</style>

<script type="text/javascript">
$(function() {
    // TODO get the translatable fields (if any)
    var fields = $.getJSON("http://localhost:3000/admin/translations/get_fields", function(data) {

    });

    // TODO add the bar as a body child
    $("#trans-bar").remove().appendTo("body");
});

</script>


<div id="trans-bar">
  <div id="inner-trans-bar">
    Type: <%= @object.type %> <br/>
    Id: <%= @object.id %> <br/>    
  </div>
</div>

